<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f4] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#111418]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24 4H42V17.3333V30.6667H24V44H6V30.6667V17.3333H24V4Z" fill="currentColor"></path>
                </svg>
              </div>
              <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">Hotel Luxe</h2>
            </div>
            <div class="flex items-center gap-9">
              <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Rooms</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Events</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Dining</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Spa</a>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                <div
                  class="text-[#617589] flex border-none bg-[#f0f2f4] items-center justify-center pl-4 rounded-l-xl border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder="Search"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border-none bg-[#f0f2f4] focus:border-none h-full placeholder:text-[#617589] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value=""
                />
              </div>
            </label>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBCB75z-_j2qTpsKy5Rdo_IbeOqhjVIZiHRfYoW-6_a-NLVkL1IoNOKxXfoWQMx55Gk6iDtssqQZqnI9OtCV7VSaIFqdlGY2v84bFX8Thaap21FbI2R8YI6GFXbsiWj_jofBuWnbaQy3Gf2Cj4ekB3quXHrjKH0U63tKrbtWVWeh1D5o81ST9mrvSpEuAFomNN_HPMwNvic-cDDKWbk4zswbHeWw8_tzzYK7YadW_tOAIWBCGcPHY6TEua2JOGNEmHVpMiUiGahY_Q");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight">Your Bookings</p>
                <p class="text-[#617589] text-sm font-normal leading-normal">Manage your upcoming and past reservations</p>
              </div>
            </div>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f0f2f4] pl-4 pr-2">
                <p class="text-[#111418] text-sm font-medium leading-normal">All</p>
                <div class="text-[#111418]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                  </svg>
                </div>
              </button>
              <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f0f2f4] pl-4 pr-2">
                <p class="text-[#111418] text-sm font-medium leading-normal">Rooms</p>
                <div class="text-[#111418]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                  </svg>
                </div>
              </button>
              <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f0f2f4] pl-4 pr-2">
                <p class="text-[#111418] text-sm font-medium leading-normal">Events</p>
                <div class="text-[#111418]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                  </svg>
                </div>
              </button>
              <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f0f2f4] pl-4 pr-2">
                <p class="text-[#111418] text-sm font-medium leading-normal">Status</p>
                <div class="text-[#111418]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                  </svg>
                </div>
              </button>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <input
                  placeholder="Search bookings"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#617589] p-[15px] text-base font-normal leading-normal"
                  value=""
                />
              </label>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Showing 12 Bookings</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Deluxe Room</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">Check-in: July 21, 2025 - Check-out: July 23, 2025</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBWuy4T-UfWaJCnzk1pzciOoegq9uA1wtP_gMQ_kp-hf7Fv32fMFVXi8BVOZWoQmXhZiAbx6et2C2MxK3Zfdvh1bhZc8ZV6jewQSBoQ-ksRo-Svp5t0HPGiT9TXXW7EOraqToNxH2AqhGqZZghAVYsMqgUiejrXYjI_z9hN7mIpvoZts1Gzdt-G2flbP8XTUzqBbbnLjetFjvYEqaYZ1KQhkqq2LmFLNvmwJ4i9don8b88rs1r52F9qj0jbI0ciT2NANKbiRu03Jjs");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Wedding Night</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">July 25, 2025 • 7 PM - 10 PM</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAVB5F0kJni1mYvqIBM4tEW3zJhlpe4oxBqRT9b9CsYQoeTnmG1L7gpODiE1M1OWuKX8OOHT54r9eLoKXKgAzUwptgnmhKStRwp60jK2VJT8KOzIegIto5DFLlyO7qGxnledlZuIFIc75OiLRSbFD8dSFkXdHdnpt2wfrhtKonXydF-4MARtUuT9F_2VFryxnle4ZAsF9JJa433bdrzd6GYiM7Nd9RDDJahTWcwN3Dp5sR3U7APppJL_vHQm22dtYYbcmUbJOowu3o");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Standard Room</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">Check-in: August 15, 2025 - Check-out: August 18, 2025</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDpSg2eD-ZRcGMIeM6N3XLC57oo7kNptRSCOxcfSfcyzJLmcIt-0YXWiQeXkROI2lZEAfJfLsadBKcbkxScO71BGGA1opyGZ2pZzi2G5xEIv9zp4nZESfBpJPH5beIpJNRSrhStzIQHBp22Jzlz3rJMRGhShYV5Xs_RQH4VfucoNpc1LehwYb0y3-8PlcT7jPurtf8H1dPZFE8Poh-KBgcSYOZ7ZMZ5fqbWbEgYWaGvP5WULHnYjZCK2buH_SxvBUy1TwT6s_0P_Dw");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Corporate Event</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">September 10, 2025 • 9 AM - 5 PM</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBlKa21zvm48RVCt_5MMeIhoquiMF_5-2dbQyGbBX08HCHQ1s2SVeAxTXJaPhy0Sq60JBQW-tIEeufseLtpiKetUl9Qz-KBt-HVGDqn_qVVVCIIEZI1SnWvNd9Io0J95kMVf5itc-DcVWisSByUntqdiD98oMDOuASOSas_sj9T7w87BCTgIk9Vwgiq5JV8T8-X95X9FgGHy42ktYXHU2Bv8JcPNrNg1iPFtVBGgnApMlrpSQLohOG2YR0zC4zNYJ27sNtUj-_Pwkg");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Suite Room</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">Check-in: October 5, 2025 - Check-out: October 10, 2025</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDLbDnieias_ltDKW925_n14aWCnObOpsvr6q9jMVrT84uWvvPb-yPIV8OxIs7Xz_wZhdpbFM9YjExHF6g96xqJsnjC4hrqe-Ube8m68P9lcWqBYJk8t4Ze5GUdndA9gGJ1A9GqP0U9Bf4ib9fVy2NEevXpc2CfsORIbDtOGJWHvGM1nysME1ZOGsNLL8UH3cRhzEFXC67BZsjBheiHteyNzXqSuD-67-Ybs3dDtybdFLDPEZTDhBS5IsTRf-nYlA8fstwsI-8f-Wk");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Birthday Party</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">November 20, 2025 • 6 PM - 11 PM</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCqsfXoCa2L6pj1EllqRVn3ZbwIMlG7nyrKf5L6WnysextrbTx2fgIA5PucZLf8oWVOt9JYYOrmORWnc-nQ8D4eT8sBGH4-id89-Zz5kBXZWkI_AxCg6IQoPA2epKWHRBiXy6EbJl-HTVRC37FkRZ9izXZ8rKsblV5Ys37QaMQ-rpV8M9xtc-JcHThFlaSW5e5UM_Ujl9vIKGqkr3-oxavHDesi_ZI2eq37CCt9-af7wyQVQE7HedAx-uf1VQsc3XLfOedqeWvHUik");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Family Room</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">Check-in: December 24, 2025 - Check-out: December 27, 2025</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAOLSz8AGaVcD8DeZ03NKFEEwE-90fj42dlhGfgLHk-dwFz8ge_t42UWsifp4jkTUM35rEooR1wqvZ9Wb9S6m286uyKlyLfNIrcMWlan7APC4fsE3Nc3ku5TtWVek0U0mIrqE-kaZY2dbdv_dRKysWVEpVSCMMtV2ms4ueyzGCH7OO-XxmVlCVq2W59A9n3wSxVgzVCvsfzrlhMu3glBEUevPryIJ4smuQJ6XxLnE8AgoSMoOrbcLK1u89MHezPzLwTENid2NJOSCk");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">New Year's Eve Gala</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">December 31, 2025 • 8 PM - 1 AM</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBzVfoP-NOx4_0-2laBDy3IGRsI3Fe0j0dCQt9t8UXhUK5a9SmQGQzRMyglZzeZeSPknxU1fwCTbbXDjMWMkk7Fsq3cMWj_dLLFxpv6X9Wq4n2TO9jqzkLliD0nn2H3ISrhlt5qt3cLY1KLnQwVOsEtwH__cvrDcnfbxBlFv_8fL09qZU2K9eUKJGoQfQy3dHPoybDYO240bBAUir_BQg72RaJEoe6FswojEZJ6OIhmApwIXCVQwSzDFtPJ8X242yfn7_WyZ56-IPI");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Honeymoon Suite</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">Check-in: January 14, 2026 - Check-out: January 17, 2026</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDHX9Y1evuYx2jUUFiUgSDSLqpssrnzxKLuvP8xKXcnDOD_9f7kcr2ApZftSVPt1G6Isl5M_SlbMSoJ5Xp_At8KxYjV2sqg3b8JeH332aGvOG316aYYhhbxBSL9R5VV_phZjJp24taVrM0YTxdrYkedsAW9qm5ZkpE6l-yU8z4vm8o6uXOCXzguBrO1joypfekTc_xncImV2XP_bq9S_SbuksncqL7FeMoUw28HCmBDjuXuI7z70qS8faNOfwSmnmHAHI1hZ3LLDyE");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Conference Room</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">February 28, 2026 • 10 AM - 4 PM</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuByFCfVKaBVIMFNcRS_VKT_eisn0X8mOaJj4YHw14b6zOTTS3jaelc8B5APutLRvw33W40knn_L-XVm5XjxzmzVwyZw53KOFmKcvSpytDYV6BuJRAcKZyEpJJ4kOsP0G-Nx0wJ3mulQxih2RIX9mhUqBOil1cbxoZHIp97CH0ppb9IGY9rayuYXJxoXcKc9Vd6Eqq9kulb-Ip3YmpGGN42W3mP004EGGE1rTAhPZnR-EeSRvn6YGKLM8LMjxei0dsuGdpxYadVHAKE");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Presidential Suite</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">Check-in: March 15, 2026 - Check-out: March 20, 2026</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCzsACP--np2UqTngEl1BUTQzT4sdz4HqkSC8Wp0Q6nludWIrJCHiDC-JF0Go5MpuEOGs50n2qxYOmPT_zTUkc9idJ7Sq5lob-F_AiU7t5BiFY7IDuG7dIpQj0_RU5cNina9Psvc2pRp-JGrVAcByJ7N_tHHapfY2_hYbyYA7_wyVLemYoRh9uyFbDsyloUOM5XW4XMXQep9ceCx_HxzSrRubEPO36BN8j7_-gSGVNQQbbTwdxLpcq36yt2VqgV3KqPCzFXpRFn9P8");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#111418] text-base font-bold leading-tight">Anniversary Dinner</p>
                    <p class="text-[#617589] text-sm font-normal leading-normal">April 12, 2026 • 7 PM - 9 PM</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f0f2f4] text-[#111418] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Invoice</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBBRT1Tu14LV2QJuLasDtJLTyH3mUpa1NbNKmQx8GN0joluUiQzsgQFzIDwKO9ENPwlDdRb8guLkfUuI0xIVwBBrwW-emObsnK-TpGrSCCW1uxQvjAacRKp0Py8KyY8WYpgIa_RavbPrFSqthLHNKsVLdNfAzuo6jWty0z_oiG6fBroZy0CX1nqpUSiPpHRLLO-7ANB8TEQzOo86VYselrdJk1fkzMNKggqtRsm_Da-N2sv3umCxrEizvTUbtjgGYFFWNZZpxUNWS4");'
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
